.about__container {
  grid-template-columns: repeat(2, 1fr);
  margin-left: 150px;
  margin-bottom: 150px;
}

.about__info {
  color: var(--text-white);
  margin-left: 100px;
}

.info__list {
  margin-bottom: 64px;
}

.section__subtitle {
  color: var(--text-white);
  font-size: var(--h3-font-size);
  font-weight: var(--weight-600);
  margin-bottom: 40px;
}

.subtitle_center {
  text-align: center;
}

.info__list .info__title {
  color: var(--tittle-color);
}

.info__list .info__title,
.info__list .info__description {
  font-size: var(--small-font-size);
}

.info__list .info__description {
  color: var(--title-color);
  font-weight: var(--weight-600);
}

.aboutText {
  text-align: center;
  margin-top: 30px;
  margin-right: 250px;
  line-height: 2rem;
}

.lampblack {
  background-color: black;
}

.separator {
  border-top: 1px solid var(--text-white);
  max-width: 40%;
  margin: 72px auto 56px;
}

.skills {
  padding: 0px 50px;
}

.sign {
  font-size: var(--h1-font-size);
  font-weight: var(--weight-700);
  text-align: center;
  line-height: 1;
  color: #c6e2ff;
  animation: neon 0.08s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
      0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52),
      0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78),
      0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
      0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58),
      0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88),
      0 0 60px rgba(30, 132, 242, 1);
  }
}

.education {
  margin-top: 100px;
}

.linkedin {
  height: 40px;
  width: 70px;
}

.github {
  height: 40px;
  width: 50px;
}

.links-grid {
  display: flex;
}

.cv-btn {
  padding: 15px 20px;
  height: 50px;
}

@media (max-width: 1200px) {
  .aboutText {
    margin-left: 6rem;
  }
}
