.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 150px;
}

.skills-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.box {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.skill-name {
  margin-top: 30px;
  color: var(--text-white);
  font-size: var(--large-font-size);
}
